<div class="stepsdemo-content">
  <p-card>
      <div>
        <p-inputNumber #amount="ngModel" [(ngModel)]="personalInformation.amount" name="amount" ngDefaultControl [required]="true"
                       [placeholder]="'amount'"></p-inputNumber>
        <small class="p-error" *ngIf="(amount.invalid && submitted) || (amount.dirty && amount.invalid)">Amount is
          required.</small>
      </div>
      <div>
        <p-calendar
          [(ngModel)]="personalInformation.date"
          name="date" ngDefaultControl
          [maxDate]="fromDateMax"
          placeholder="Select a Date">
        </p-calendar>
      </div>
      <div>
        <p-dropdown
          [options]="cities"
          [(ngModel)]="personalInformation.city"
          name="city" ngDefaultControl
          placeholder="Select a City"
          optionLabel="name"
          [showClear]="true">
        </p-dropdown>
      </div>
      <div>
        <h3>Upload just letter</h3>
        <app-prime-upload
          accept=".csv, .xml, .tsv, .pdf"
          [(ngModel)]="personalInformation.letter"
          (uploadFiles)="onUpload($event)"
          name="letter" ngDefaultControl
          [showUploadButton]="false"
          [showCancelButton]="true">
        </app-prime-upload>
      </div>
  </p-card>
</div>

