<p>people-list works!</p>
<p-card>
  <p-table [value]="persons" selectionMode="single" responsiveLayout="scroll" [(selection)]="selectedPerson" dataKey="code">
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Education</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-person>
      <tr [pSelectableRow]="person">
        <td>{{person.code}}</td>
        <td>{{person.name}}</td>
        <td>{{person.education}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
