<p-card>
  <p-steps [model]="items" [(activeIndex)]="activeIndex"
           (activeIndexChange)="activeIndexChange($event)"
           [readonly]="true"></p-steps>
</p-card>
<p-card>
  <div class="grid grid-nogutter justify-content-end">
    <div style="float: left">
      <p-button label="Back" *ngIf="showPrevBtn" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
    </div>
    <div style="float: right">
      <p-button label="Next" *ngIf="showNextBtn" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
    </div>
  </div>
</p-card>

