<p>review works!</p>
<p-panel header="Success">
  <div><small>amount: </small>{{ infoData?.amount }}</div>
  <p-divider></p-divider>
  <div><small>date: </small>{{ infoData?.date }}</div>
  <p-divider></p-divider>
  <div><small>city: </small>{{ infoData?.city?.name }}</div>
  <p-divider></p-divider>
  <div><small>name: </small>{{ infoData?.selectedPerson?.name }}</div>
  <p-divider></p-divider>
  <div><small>image: </small><img src="{{infoData?.image}}" style="width: 50px; height: 50px">{{ infoData?.image }}</div>
  <p-divider></p-divider>
  <div><small>letter: </small><img src="{{infoData?.letter}}" style="width: 50px; height: 50px">{{ infoData?.letter }}</div>
  <p-divider></p-divider>

</p-panel>
